[run]
concurrency = eventlet
branch = ${ENABLE_BRANCH_COVERAGE}
omit =
    nameko/concurrency/eventlet_backend.py
    nameko/concurrency/gevent_backend.py
source =
    nameko
    test

[report]
show_missing = true
fail_under = ${COVERAGE_FAIL_UNDER}
