language: python
python:
  - "2.7"

install:
  - python setup.py -q install
  - pip install -r dev_requirements.txt
  # pip incorrectly upgrades coverage 3.5 on first pass
  # install dev_requirements again to downgrade it
  # see https://github.com/pypa/pip/issues/1249
  - pip install -r dev_requirements.txt

services:
    - rabbitmq

script:
  - make test
  - make docs

notifications:
  email: false
  hipchat:
    rooms:
      secure: HdQuYHfBbCnuw0mgj1tJOdlXRhF+b9Ena6JVp1nPdCjP5WX8iCpDAtR4vlTry4X6eNXodb0xsdhWmN9Zq+iDvR0FQvvtRkFUxNpxsqGPLClvUIthTNqjGLgl2lMtbZcHRT1dj/wrKY/yAVdGs/FF/Ghz0MQZgiWtGA5hnb3kZAI=
    format: html
    template:
      - '%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message} (<a href="%{build_url}">Details</a>/<a href="%{compare_url}">Diff</a>)'

