language: python
python:
  - "2.7"

install:
  - python setup.py -q install
  - pip install -r test_requirements.txt

services:
    - rabbitmq

before_script:
    - rabbitmqctl add_vhost nameko

script:
  - make test

notifications:
  email: false
  webhooks: http://finebot.herokuapp.com/hubot/travis/?room=30565_platform@conf.hipchat.com
