sudo: false
language: python

services:
  - docker

before_install:
    # start rabbitmq
    - docker run -d --hostname rabbitmq --name rabbitmq -p 15672:15672 -p 5672:5672 -e RABBITMQ_DEFAULT_USER=guest -e RABBITMQ_DEFAULT_PASS=guest rabbitmq:3.6.6-management
    # install toxiproxy
    - mkdir $PWD/bin
    - wget -O $PWD/bin/toxiproxy-server https://github.com/Shopify/toxiproxy/releases/download/v2.0.0/toxiproxy-server-linux-amd64
    - chmod +x $PWD/bin/toxiproxy-server
    - export PATH=$PATH:$PWD/bin/
    # work around https://github.com/travis-ci/travis-ci/issues/7940
    - sudo rm -f /etc/boto.cfg

addons:
  apt_packages:
    - libenchant-dev

install:
  - pip install tox

cache:
  directories:
    - $HOME/.cache/pip

matrix:
  include:
    - stage: static
      python: 2.7
      env: TOX_ENV=py27-static
    - stage: static
      python: 3.6
      env: TOX_ENV=py36-static
    - stage: docs
      python: 2.7
      env: TOX_ENV=docs
    - stage: examples
      python: 2.7
      env: TOX_ENV=py27-examples
    - stage: examples
      python: 3.6
      env: TOX_ENV=py36-examples
    - stage: test
      python: 2.7
      env: TOX_ENV=py27-oldest-lib
    - stage: test
      python: 2.7
      env: TOX_ENV=py27-pinned-lib
    - stage: test
      python: 2.7
      env: TOX_ENV=py27-latest-lib
    - stage: test
      python: 3.4
      env: TOX_ENV=py34-oldest-lib
    - stage: test
      python: 3.4
      env: TOX_ENV=py34-pinned-lib
    - stage: test
      python: 3.4
      env: TOX_ENV=py34-latest-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-oldest-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-pinned-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-latest-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-oldest-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-pinned-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-latest-lib
    - stage: deploy
      script: skip
      deploy:
        provider: pypi
        user: onefinestay
        password:
          secure: Mwinp9cxGaGe/KjGFcO+T7MAgLvy5yFNeYCq9zpGniuSXsp/AFH3JIS1kWBv71tMC8S2N5kwRMVXoHNMqJt+Iq/EmYIY6vbMK8GijAUqLo8KsbxgmigWTXTn6IHKDO4gwYmQt8BDYJmbq6CNeVVCHMxWyP0Y24S25y7N35oIroU=
        on:
          tags: true
          repo: nameko/nameko
        distributions: "sdist bdist_wheel"
    - stage: mastereventlet
      python: 2.7
      env: TOX_ENV=py27-mastereventlet
    - stage: mastereventlet
      python: 3.4
      env: TOX_ENV=py34-mastereventlet
    - stage: mastereventlet
      python: 3.5
      env: TOX_ENV=py35-mastereventlet
    - stage: mastereventlet
      python: 3.6
      env: TOX_ENV=py36-mastereventlet
    - stage: branchcoverage
      python: 3.6
      env: TOX_ENV=py36-branchcoverage-lib
  fast_finish: true
  allow_failures:
    - env: TOX_ENV=py27-mastereventlet
    - env: TOX_ENV=py34-mastereventlet
    - env: TOX_ENV=py35-mastereventlet
    - env: TOX_ENV=py36-mastereventlet
    - env: TOX_ENV=py36-branchcoverage-lib

script:
  - tox -e $TOX_ENV


