sudo: false
language: python

services:
  - docker

before_install:
    # start rabbitmq, grab client ssl certs
    - docker run -d --rm -p 15672:15672 -p 5672:5672 -p 5671:5671 --name nameko-rabbitmq nameko/nameko-rabbitmq:3.6.6
    - docker cp nameko-rabbitmq:/srv/ssl certs
    # install toxiproxy
    - mkdir $PWD/bin
    - wget -O $PWD/bin/toxiproxy-server https://github.com/Shopify/toxiproxy/releases/download/v2.0.0/toxiproxy-server-linux-amd64
    - chmod +x $PWD/bin/toxiproxy-server
    - export PATH=$PATH:$PWD/bin/
    # work around https://github.com/travis-ci/travis-ci/issues/7940
    - sudo rm -f /etc/boto.cfg

addons:
  apt_packages:
    - libenchant-dev

install:
  - pip install tox

cache:
  directories:
    - $HOME/.cache/pip

# ordered to deliver important failure as soon as possible
stages:
  - quick_static3
  - quick_test3
  - quick_static2
  - quick_test2
  - quick_examples3
  - docs
  - test
  - examples
  - deploy
  - master
  - branchcoverage
matrix:
  include:
    - stage: quick_static2
      python: 2.7
      env: TOX_ENV=py27-static
    - stage: quick_static3
      python: 3.6
      env: TOX_ENV=py36-static

    - stage: docs
      python: 3.6
      env: TOX_ENV=docs

    - stage: examples
      python: 2.7
      env: TOX_ENV=py27-eventlet-examples
    - stage: quick_examples3
      python: 3.6
      env: TOX_ENV=py36-eventlet-examples
    # skip gevent 2.7 examples
    - stage: examples
      python: 3.6
      env: TOX_ENV=py36-gevent-examples


    - stage: test
      python: 3.5
      env: TOX_ENV=py35-gevent-oldest-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-gevent-oldest-lib

    - stage: test
      python: 2.7
      env: TOX_ENV=py27-oldest-eventlet-lib
    - stage: test
      python: 2.7
      env: TOX_ENV=py27-pinned-eventlet-lib
    - stage: quick_test2
      python: 2.7
      env: TOX_ENV=py27-latest-eventlet-lib
    - stage: test
      python: 2.7
      env: TOX_ENV=py27-extra-eventlet-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-oldest-eventlet-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-pinned-eventlet-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-latest-eventlet-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-oldest-eventlet-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-pinned-eventlet-lib
    - stage: quick_test3
      python: 3.6
      env: TOX_ENV=py36-latest-eventlet-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-extra-eventlet-lib


    - stage: quick_test2
      python: 2.7
      env: TOX_ENV=py27-latest-eventlet-lib
    # skipped most of gevent 27
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-oldest-gevent-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-pinned-gevent-lib
    - stage: test
      python: 3.5
      env: TOX_ENV=py35-latest-gevent-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-oldest-gevent-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-pinned-gevent-lib
    - stage: quick_test3
      python: 3.6
      env: TOX_ENV=py36-latest-gevent-lib
    - stage: test
      python: 3.6
      env: TOX_ENV=py36-extra-gevent-lib

    - stage: deploy
      script: skip
      deploy:
        provider: pypi
        user: onefinestay
        password:
          secure: Mwinp9cxGaGe/KjGFcO+T7MAgLvy5yFNeYCq9zpGniuSXsp/AFH3JIS1kWBv71tMC8S2N5kwRMVXoHNMqJt+Iq/EmYIY6vbMK8GijAUqLo8KsbxgmigWTXTn6IHKDO4gwYmQt8BDYJmbq6CNeVVCHMxWyP0Y24S25y7N35oIroU=
        on:
          tags: true
          repo: nameko/nameko
        distributions: "sdist bdist_wheel"

    # test concurrency packages master branches
    - stage: master
      python: 2.7
      env: TOX_ENV=py27-master-eventlet-lib
    - stage: master
      python: 3.5
      env: TOX_ENV=py35-master-eventlet-lib
    - stage: master
      python: 3.6
      env: TOX_ENV=py36-master-eventlet-lib

    - stage: master
      python: 3.5
      env: TOX_ENV=py35-master-gevent-lib
    - stage: master
      python: 3.6
      env: TOX_ENV=py36-master-eventlet-lib

    # test with branch coverage
    - stage: branchcoverage
      python: 3.6
      env: TOX_ENV=py36-branchcoverage-eventlet-lib

  fast_finish: true
  allow_failures:
    - env: TOX_ENV=py27-master-eventlet-lib
    - env: TOX_ENV=py35-master-eventlet-lib
    - env: TOX_ENV=py36-master-eventlet-lib

    - env: TOX_ENV=py27-master-gevent-lib
    - env: TOX_ENV=py35-master-gevent-lib
    - env: TOX_ENV=py36-master-gevent-lib

    - env: TOX_ENV=py36-branchcoverage-eventlet-lib

script:
  - tox -e $TOX_ENV
