include readme.rst
include LICENSE
include requirements.txt
include dev_requirements.txt
include contrib_requirements.txt
include pylintrc
include example.setup.cfg

graft docs
prune docs/build

graft test
global-exclude *.pyc
